* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container h1 {
    user-select: none;
}

